<%- include('parts/head', {bot, user, path}) %>



<div class="container">
<br><br>
<center>
<p class="has-text-white title is-large"><i class="fad fa-crown bodyIcon" style = "color: orange"></i>&nbsp;Get special perks.. today.</p>
<h4 class = "has-text-white"> Introducing.. Memebrships.</h4>
<br>
<br>
<p class = "has-text-white"> Get our memberships from patreon, and read through the perks there!</p>
<a href="https://www.patreon.com/bePatron?u=62707955" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</center>
</div>
<%- include('parts/foot') %>
