<%- include('parts/head', {bot, user, path}) %>
<%- include('parts/section') %>



<div class="container">
<br><br>
<center>
<p class="has-text-white title is-large"><i class="fad fa-crown bodyIcon" style = "color: orange"></i>&nbsp;The team</p>
</center>
<center>
<div class = "row">
<div class = "col">
<img onerror="imgError(this);" draggable="false" class="pulse-avatar-online"  onerror=" imgerror(this);"="" src="https://cdn.discordapp.com/avatars/729975591406796840/a_f417c8bf04514e7b70d68eb64c5ae924.gif" style="width: 200px; border-radius: 100%;">
<br>
<br>
<p class="has-text-white title">Pop Plays#0714 | Founder</p>
</div>
<div class = "col">
<img onerror="imgError(this);" draggable="false" class="pulse-avatar-online"  onerror=" imgerror(this);"="" src="https://cdn.discordapp.com/avatars/849031408470851595/d8c109535ee999e757f87dae75645be2.png" style="width: 200px; border-radius: 100%;">
<br>
<br>
<p class="has-text-white title">Availyx#0001 | Co-Founder</p>
</div>
</div>
</center>
</div>
<%- include('parts/foot') %>
